<body>
<section class="calculadora">
    <div class="head">
        <p>Calculadora</p>
        <button class="historic">Histórico</button>
    </div>
    <div class="view">
        <p class="valueOut">9.999,99</p>
    </div>
    <div class="buttons">
        <div>
            <button class="btn topBtn left">AC</button>
            <button class="btn topBtn"><img src='assets/P-M.svg'></button>
            <button class="btn topBtn"><img src='assets/Percent.svg'></button>
            <button class="btn operadoresBtn"><img src='assets/Divided.svg'></button>
        </div>
        <div class="">
            <button class="btn numbersBtn left">7</button>
            <button class="btn numbersBtn">8</button>
            <button class="btn numbersBtn">9</button>
            <button class="btn operadoresBtn"><img src='assets/Times.svg'></button>
        </div>
        <div class="">
            <button class="btn numbersBtn left">4</button>
            <button class="btn numbersBtn">5</button>
            <button class="btn numbersBtn">6</button>
            <button class="btn operadoresBtn"><img class="less" src='assets/Minus.svg'></button>
        </div>
        <div class="">
            <button class="btn numbersBtn left">1</button>
            <button class="btn numbersBtn">2</button>
            <button class="btn numbersBtn">3</button>
            <button class="btn operadoresBtn"><img src='assets/Plus.svg'></button>
        </div>
        <div class="">
            <button class="numberBtnZero left">0</button>
            <button class="btn numbersBtn">,</button>
            <button class="btn IqualBtn"><img src='assets/Equals.svg'></button>
        </div>
    
    </div>
    <div class="back">
        <button>Voltar</button>
    </div>
</section>
</body>


  